@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: linear-gradient(-45deg, #F12524, #8B1314, #64191E);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}